<h2 mat-dialog-title>Change password</h2>
<div mat-dialog-content>
  <form [formGroup]="form" id="change-password-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Current password</mat-label>
      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'"
             formControlName="currentPassword" required>
      <button class="show-hide-password" type="button" mat-icon-button matSuffix
              (click)="hideCurrentPassword = !hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['currentPassword'].hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'"
             formControlName="newPassword" required minlength="8">
      <button class="show-hide-password" type="button" mat-icon-button matSuffix
              (click)="hideNewPassword = !hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['newPassword'].hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">
        Passord must be at least 8 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
             formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordStateMatcher">
      <button class="show-hide-password" type="button" mat-icon-button matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.hasError('passwordMismatch')">Passwords must match</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="undefined" [disabled]="inProgress">Cancel</button>
  <button type="submit" form="change-password-form" [disabled]="form.invalid || inProgress" mat-raised-button color="primary">Change</button>
</div>
