.wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}

.sign-in-form {
  text-align: center;

  mat-card-header {
    justify-content: center;
    margin-top: 10px;
  }

  mat-card-title {
    font-size: 22px;
  }

  mat-form-field {
    display: block;

    .show-hide-password {
      margin: 0 -5.5px 0 0;
    }
  }

  button {
    margin-top: 15px;
  }
}
