<div class="wrapper">
  <div *ngIf="loading" class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <ng-container *ngIf="!loading">
    <div class="thread">
      <div class="thread-info">
        <div class="topic">
          <h1>{{thread.topic}}</h1>
        </div>
        <div class="description-container">
          <ul class="description-list">
            <li *ngIf="thread.author">by <a [routerLink]="['/users', thread.author.username]"
                                            class="thread-author-username">{{thread.author.username}}</a></li>
            <li>{{thread.creationDate | date:'MMM d, y, h:mm a'}}</li>
            <li *ngIf="thread.closed">Closed</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="post-list">
      <mat-card *ngFor="let post of posts; let i = index" class="post">
        <div class="user-section">
          <ng-container *ngIf="post.author">
            <a [routerLink]="['/users', post.author.username]" class="post-author-username">{{post.author.username}}</a>
            <p *ngIf="post.author.name" class="post-author-name">{{post.author.name}}</p>
            <p class="joined">joined {{post.author.registrationDate | date: 'mediumDate'}}</p>
          </ng-container>
          <ng-container *ngIf="!post.author">
            <p class="deleted-user">user deleted</p>
          </ng-container>
        </div>
        <div class="content-section">
          <div class="post-info">
            <p class="post-publish-date">{{post.publishDate | date:'MMM d, y, h:mm a'}}</p>
            <p class="post-number">#{{i + 1}}</p>
          </div>
          <p class="post-content">{{post.content}}</p>
        </div>
        <div *ngIf="isOwnPost(post) || isUserModeratorOrAdmin" class="action-panel">
          <button class="open-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="thread-action-menu">
            <button mat-menu-item (click)="openEditPostDialog(post)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item class="delete-menu-option" (click)="deletePost(post)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </mat-card>
    </div>

    <div *ngIf="!posts.length || thread.closed" class="message-block">
      <ng-container *ngIf="!posts.length">
        <p class="message">There are no posts</p>
      </ng-container>
      <ng-container *ngIf="thread.closed">
        <p class="message">This thread is closed for posting</p>
      </ng-container>
    </div>

    <mat-card *ngIf="isLoggedIn && !thread.closed" class="new-post">
      <mat-card-header class="header">
        <mat-card-title>Create a post</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="postForm" (ngSubmit)="onPostSubmit()">
          <mat-form-field class="post-text-field" appearance="outline">
            <mat-label>Content</mat-label>
            <textarea formControlName="content" matInput maxlength="10000" #content></textarea>
          </mat-form-field>

          <button type="submit" [disabled]="sendingPost || !content.value" mat-raised-button color="primary">
            Post
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
